#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

thead {
  background: #eee;
}

th {
  cursor: pointer;
}

.container > img {
  width: 50%;
  margin: 0 auto;
  align-self: center;
}